Source: ros-dashing-rmw-connext-shared-cpp
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake, ros-dashing-ament-lint-auto, ros-dashing-ament-lint-common, ros-dashing-connext-cmake-module, ros-dashing-rcpputils, ros-dashing-rcutils, ros-dashing-rmw, ros-dashing-rosidl-cmake, rti-connext-dds-5.3.1, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-rmw-connext-shared-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-ament-cmake, ros-dashing-connext-cmake-module, rti-connext-dds-5.3.1, ros-dashing-ros-workspace
Description: C++ types and functions shared by the ROS middleware interface to RTI Connext Static and RTI Connext Dynamic.
